@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  margin: 0;
  display: grid;
  justify-items: center;
  overflow-x: hidden;
}

#root {
  width: 1440px;
  flex-shrink: 0;
}